:concurrency: 2
:queues:
  - default
  - mailers

:redis:
  url: <%= ENV["REDIS_URL"] %>

:timezone: "America/New_York"

:scheduler:
  :schedule:
    schedule_import_job:
      cron: "0 0 3 1 *" # Runs every year on Jan 3rd
      class: "ScheduleImportJob"

    tournament_import_job:
      cron: "0 0 * * 2" # Runs every week at Tuesday 00:00:00 EST
      class: "TournamentImportJob"

    validate_picks_job:
      cron: "59 23 * * 3" # Runs every week at Wednesday 11:59:00 PM EST
      class: "ValidatePicksJob"

    snake_draft_job:
      cron: "0 0 * * 4" # Runs every week at Thursday 00:00:00 EST
      class: "SnakeDraftJob"

    leaderboard_import_job_noon:
      cron: "0 12 * * *" # Runs daily at 12:00 PM EST during tournaments
      class: "LeaderboardImportJob"

    leaderboard_import_job_evening:
      cron: "0 20 * * *" # Runs daily at 8:00 PM EST during tournaments
      class: "LeaderboardImportJob"